lightning
omegaconf
einops
lightning-bolts
torchvision
matplotlib
diffusers>=0.28.2
torch-fidelity
wandb>=0.12.10
numpy
transformers>=4.42.3
accelerate
moviepy
pandas
imageio
timm
seaborn
vape4d
torchprofile
adabelief_pytorch
pbdl @ git+https://github.com/tum-pbs/pbdl-dataset@main

